.emoji {
    &-label {
        display: flex;
        align-items: center;

        @media screen and (max-width: map-get($breakpoints, bp-md)) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &-container {
        background-color: transparent;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
        color: #5e5e5e;
        width: 100%;
        position: relative;
    }

    &-text-box {
        padding: .5rem 2.5rem .5rem .5rem;
        min-height: 100px;
        width: 100%;
        white-space: pre-wrap;
        display: inline-block;
        line-height: 1.4;
        outline: 0;

        * {
            vertical-align: middle;
        }
    }

    &-panel-container {
        .emojis-container {
            i { 
                cursor: pointer;
                position: absolute;
                bottom: .4rem; right: .4rem;
             }
    
            .emoji-mart {
                position: absolute;
                bottom: -1rem; left: 0;
                transform: translateY(100%);
                overflow: hidden;
                border: 2px solid $dark;
                width: 100% !important;
                z-index: map-get($z-index, z-dialog);
    
                &-anchor {
                    padding: .4rem .25rem;
                }
    
                &-search-icon:disabled { background-color: transparent; }
    
                &-bar:last-child {
                    position: sticky;
                    bottom: 0;
                    background-color: $white;
                }
    
                &-preview {
                    height: auto;
                    padding: 2rem
                }
    
                &-title-label {
                    font-size: 16px;
                }
    
                &-emoji {
                    span {
                        width: 25px !important;
                        height: 25px !important;
                    }
                }

            }
        }
    }

    &-panel-container-top {
        .emoji-mart {
            top: -1rem !important;
            transform: translateY(-100%) !important;
            height: 300px;

            &-scroll {
                height: 150px;
            }
        }
    }
}